//* HOMEPAGE *//

.header {
  position: relative;
  display: flex;
  justify-content: center;

  padding-top: 5%;
  padding-bottom: 3%;

  a {
    color: var(--color-white);
  }

  a:hover {
    font-style: italic;
  }
}

.nav {
  position: relative;
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    list-style: none;
    gap: 10vw;

    li {
      font-family: var(--font-primary);
    }

    li:hover {
      font-style: italic;
      cursor: pointer;
    }
  }
}

.about {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    padding-top: 15%;
    padding-bottom: 5%;
    width: 50vw;

    p {
      font-size: var(--p);
      line-height: var(--h2);
      font-family: var(--font-secondary);
    }
    a {
      font-family: var(--font-primary);
      font-size: 20px;
    }
    a:hover {
      font-style: italic;
      cursor: pointer;
    }
    text-align: justify;
  }
}

.footer {
  position: absolute;
  bottom: 0%;
  font-family: var(--font-third);
  color: var(--color-green);
}

//* PROJECTS *//

.backbutton {
  position: relative;
  display: flex;
  justify-content: center;

  font-family: var(--font-primary);
  font-size: var(--h3);
}

.backbutton:hover {
  font-style: italic;
}

.posts {
  position: relative;
  display: flex;
  flex-direction: column;

  padding-top: 10vh;

  .projects,
  .blog,
  .shoots,
  .favs {
    display: flex;
    justify-content: center;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 5vh;

      li {
        font-family: var(--font-secondary);
        a {
          color: var(--color-green);
        }
      }
      li:hover {
        cursor: pointer;
        font-style: italic;
      }
    }
  }
}

//* BLOG POST *//

.post {
  position: relative;
  margin: 15vh 25vw 10vh 25vw;

  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    padding-bottom: 10vh;

    h3 {
      font-weight: bolder;
      color: var(--color-green);
    }

    h4 {
      font-style: italic;
    }
  }

  .bodytext {
    display: flex;
    flex-direction: column;
    gap: 7vh;

    text-indent: 5vw;
    padding-bottom: 5vh;
    text-align: justify;
  }
}

//? MOBILE VIEWSSS /
@media only screen and (max-width: 500px) {
  .main {
    padding: 15% 10% 15% 10%;
  }

  .header {
    position: relative;
    display: flex;
    justify-content: flex-start;

    padding: 5% 0% 10% 0%;
  }

  .nav {
    //justify-content: flex-start;
    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 5vw;

      li {
        font-family: var(--font-primary);
      }

      li:hover {
        font-style: italic;
      }
    }
  }

  .about {
    // justify-content: flex-start;

    div {
      padding-top: 15%;
      padding-bottom: 5%;
      width: 65vw;

      p {
        font-size: var(--p);
        line-height: var(--h2);
        font-family: var(--font-secondary);
      }
      text-align: justify;
    }
  }

  .backbutton {
    justify-content: flex-start;
    font-size: var(--p);
  }

  .post {
    margin: 7vh 0vw 10vh 0vw;

    .title {
      display: flex;
      flex-direction: column;
      row-gap: 2vh;
      padding-bottom: 5vh;
  
      h3 {
        font-weight: bolder;
      }
  
      h4 {
        font-style: italic;
        line-height: var(--h3);
      }
    }
  
    .bodytext {
      display: flex;
      flex-direction: column;
      text-align: justify;
      gap: 7vh;
  
      text-indent: 10vw;
      padding-bottom: 5vh;
    }
  }
}
