.header {
  position: relative;
  display: flex;
  justify-content: center;

  padding-top: 5%;
  padding-bottom: 5%;
}

.nav {
  position: relative;
  display: flex;
  justify-content: center;
  
  ul {
    display: flex;
    list-style: none;
    gap: 10vw;

    li {
      font-family: var(--font-primary);
      font-size: var(--h3);
    }
  }
}

.about {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    padding-top: 15%;
    padding-bottom: 15%;
    width: 50vw;

    p {
      font-size: var(--p);
      line-height: var(--h2);
      font-family: var(--font-secondary);
    }
    text-align: justify;
  }
}